.pet {
  height: 200px;
}
body {
  font-family: 'Indie Flower', cursive;
  background-image: url("../images/tiger_enclosure.jpg");
  color: white;
}
p {
  font-size: 16;
}
button {
  font-family: 'Indie Flower', cursive;
  font-size: 16
}
.tiger_enclosure {
  height: 400px;
}
